.sidebarOption {
    padding: 5px 0;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: rgb(109, 109, 109);
    transition: 100ms;
}

.sidebarOption:hover {
    background-color: rgba(182, 182, 255, 0.39);
}

.sidebarOption h5 {
    padding-left: 20px;
}

.sidebar_icon {
    padding-left: 30px;
}

.sidebarOption--active {
    background-color: rgba(255, 80, 80, 0.356) !important;
    color: red;
}