.sidebar {
    flex: 20%;
    max-width: 250px;
    margin-top: 1px;
}

.sidebar-btn {
    margin-left: 10px;
    height: 56px;
    width: 56px;
	background-color: white;
    color: #3c4043;
    display: flex;
    align-items: center;
    background-position: 10px;
	width: 150px;
	border-radius: 90px;
	text-decoration: none;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.sidebar-btn .text {
    margin-left: 1px;
    font-family: serif;
    font-size: 14px;
    line-height: 54px;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(109, 109, 109);
}

.img {
    padding: 0 15px;
}

.sidebar-btn:hover {
    background-color: rgba(223, 223, 223, 0.555);
}

.btn-sidebar {
    margin-bottom: 30px;
}